<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
 
</head>
<body class="body">
<div class="main">

	<div class="top">
		<img class="picture_1" src="{{url_for('static', filename='paris8.png')}} " />
		<img class="picture_2" src="{{url_for('static', filename='ied-paris8.png')}} " />
		<h1> 
			<p align="center"> Projet innovant 1</p>
		</h1>
		<h2> 
			<p align="center"> Utilisation de l'algorithme des Kmeans sur les données iris-data </p>
		</h2>
	</div>

	<div class="middle">
		
		<p align="center">
			<a href="{{ url_for('iris_data_page') }}"> 
				<button class=bleu style="height:75px;width:150px"> Voir les données iris-data </button>
			</a>
			<a href="{{ url_for('kmeans_output_page') }}"> 
				<button class=grey style="height:75px;width:150px"> Voir le résultat du Kmeans sur iris-data </button>
			</a>
		</p>
	</div>

</div>
</body>
</html>