commands.txt

.ipynb_checkpoints
.DS_Store

flask-apps/.DS_Store
flask-apps/.ipynb_checkpoints
flask-apps/Untitled.ipynb
flask-apps/templates/.DS_Store
flask-apps/static/.DS_Store
flask-apps/env-flask


kmeans/.DS_Store
kmeans.ipynb_checkpoints
kmeans/Projet-Kmeans.ipynb
kmeans/__pycache__
kmeans/env-kmeans

postgres/.DS_Store